* {
    transition: all 0.3s ease-in-out;
}

html body {
    background-color: #252525;
    color: #fff;
    font-family: Lobster, Regular;
    margin: 0;
    overflow-x: hidden;
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    color: #fff;
    padding: 10px 0;
}

header nav img {
    display: none;
    position: absolute;
    top: 10px;
    left: 130px;
    width: 144px;
    height: 144px;
    border-radius: 50%;
}

header nav ul {
    list-style-type: none;
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    transform: none;
}

header nav ul li {
    margin: 0 17px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

header nav ul li a:hover {
    color: #FBAA23;
}

.hamburger {
    z-index: 998;
    display: none;
    cursor: pointer;
    padding: 15px;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background: #FBAA23;
    margin: 5px 0;
    transition: 0.3s;
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease-out;
}

.loader {
    text-align: center;
}

.loader-image {
    width: 100px;
    height: auto;
    animation: float 2s ease-in-out infinite;
    border-radius: 50%;
}

.loader-text {
    color: #FBAA23;
    font-family: 'Lobster', cursive;
    margin-top: 20px;
    font-size: 24px;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

.main {
    position: relative;
    flex: 1;
}

.main .titre {
    text-align: center;
    margin: 200px 0;
    font-size: 46px;
    line-height: 16px;
}

.main .titre h1 {
    font-weight: 100;
}

.wave-bottom,
.wave-top {
    background-color: #252525;
}

.bieres {
    text-align: center;
    flex-direction: column;
    display: flex;
    color: #252525;
}

.swiper-container {
    width: 100%;
    height: 100%;
    padding: 20px 0;
    position: relative;
    z-index: 1;
}

.swiper-button-prev,
.swiper-button-next {
    color: #252525;
    top: 50%;
    transform: translateY(-50%);
    width: 44px;
    height: 44px;
    z-index: 2;
}

.swiper-button-prev {
    left: 10px;
}

.swiper-button-next {
    right: 10px;
}

.swiper-pagination {
    position: absolute;
    bottom: 10px;
    width: 100%;
    z-index: 2;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 5px;
}

.swiper-pagination-bullet-active {
    background: #252525;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.biere {
    padding: 20px;
    background-color: #FBAA23;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.biere h2 {
    font-size: 64px;
    margin: 0;
}

.biere .info-biere {
    padding: 20px 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    ;
}

.biere .info-biere img {
    width: 250px;
    height: 250px;
    border-radius: 26px;
    margin-right: 50px;
}

.biere .info-biere .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.biere .info-biere .text h3 {
    font-size: 32px;
    margin: 0;
}

.biere .info-biere .text p {
    font-size: 16px;
    margin: 0;
}

.description-mayemalt {
    background-color: #FBAA23;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    padding: 0 100px;
    font-size: 25px;
    margin: 0;
}

.description-mayemalt .text-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.description-mayemalt .text-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.description-mayemalt .text-image:nth-last-child(1) {
    flex-direction: row-reverse;
}

.description-mayemalt .text-image img {
    width: 300px;
    height: 300px;
    border-radius: 26px;
    margin-right: 30px;
}

.horaires {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20% 100px 20%;
    color: #fff;
}

.horaires h2 {
    font-size: 64px;
    font-weight: 400;
    margin: 0;
}
.horaires p {
    font-size: 25px;
    font-weight: 400;
}

.horaires .horaires-list p {
    font-size: 25px;
    font-weight: 400;
    margin: 0;
}

.degustation-mayemalt {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:start;
    padding: 0 50px;
    font-size: 25px;
    margin: 0;
}

.degustation-mayemalt .text-image {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.degustation-mayemalt .text-image:nth-last-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.degustation-mayemalt .text-image .visite-photo {
    width: 600px;
    height: 300px;
    border-radius: 26px;
    margin: 0 30px;
}

.degustation-mayemalt .text-image .degustation-photo {
    width: 300px;
    height: 300px;
    border-radius: 26px;
    margin: 0 30px;
}

.juridique {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20% 100px 20%;
    color: #fff;
}

.juridique h2 {
    font-size: 64px;
    font-weight: 400;
    margin: 0;
}

.juridique p {
    font-size: 25px;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .description-mayemalt {
        padding: 0 50px;
        font-size: 20px;
    }

    .description-mayemalt .text-image,
    .description-mayemalt .text-image:nth-last-child(1) {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .description-mayemalt .text-image img {
        width: 250px;
        height: 250px;
        margin-right: 0;
    }

    .horaires {
        padding: 0 10% 50px 10%;
    }

    .horaires h2 {
        font-size: 48px;
    }

    .horaires p,
    .horaires .horaires-list p {
        font-size: 20px;
    }

    .degustation-mayemalt {
        padding: 0 30px;
        font-size: 20px;
    }

    .degustation-mayemalt .text-image,
    .degustation-mayemalt .text-image:nth-last-child(1) {
        flex-direction: column;
        text-align: center;
    }

    .degustation-mayemalt .text-image .visite-photo {
        width: 100%;
        height: auto;
        margin: 20px 0;
    }

    .degustation-mayemalt .text-image .degustation-photo {
        width: 250px;
        height: 250px;
        margin: 20px 0;
    }

    .juridique {
        padding: 0 10% 50px 10%;
    }

    .juridique h2 {
        font-size: 48px;
    }

    .juridique p {
        font-size: 20px;
    }
}

@media screen and (max-width: 480px) {
    .description-mayemalt {
        padding: 0 20px;
        font-size: 16px;
    }

    .description-mayemalt .text-image img {
        width: 200px;
        height: 200px;
    }

    .horaires h2 {
        font-size: 36px;
    }

    .horaires p,
    .horaires .horaires-list p {
        font-size: 16px;
    }

    .degustation-mayemalt {
        padding: 0 20px;
        font-size: 16px;
    }

    .degustation-mayemalt .text-image .degustation-photo {
        width: 200px;
        height: 200px;
    }

    .juridique {
        padding: 0 20px 30px 20px;
    }

    .juridique h2 {
        font-size: 36px;
    }

    .juridique p {
        font-size: 16px;
    }
}

.apropos {
    text-align: center;
    flex-direction: column;
    display: flex;
    margin-bottom: 100px;
}

.apropos h2 {
    font-size: 64px;
    font-weight: 400;
    margin: 0 0 50px 0;
}

.apropos .apropos-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.apropos .vignette {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px;
    background-color: #373737;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 45px;
}

.apropos .vignette img {
    width: 378px;
    height: 378px;
    border-radius: 16px;
    margin-bottom: 20px;
}

.apropos .vignette img:hover {
    filter: brightness(50%);
}

.apropos .vignette h3 {
    font-size: 32px;
    font-weight: 400;
    margin: 0;
    color: #FBAA23;
}

.apropos .vignette p {
    font-size: 24px;
    margin: 10px 0 0 0;
}

.apropos .informations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    width: 525px;
    margin-left: 200px;
}

.apropos .informations p {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

.apropos a {
    text-decoration: none;
    font-size: 32px;
    font-weight: 400;
    margin-top: 50px;
    padding: 12px 30px;
    background-color: #FBAA23;
    color: white;
    border-radius: 8px;
}

.apropos a:hover {
    background-color: #FFBF54;
    color: #fff;
}

.fil-actu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 100px 0;
    border-top: #fff solid 2px;
}

.fil-actu h2 {
    font-size: 64px;
    font-weight: 400;
    margin: 0;
}

.fil-actu h3 {
    font-size: 50px;
    font-weight: 400;
    margin: 0;
    padding: 50px 0;
}

.fil-actu .fil-actu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 710px;
    background-color: #373737;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 45px;
    padding: 35px;
}

.fil-actu .fil-actu-content img {
    width: 710px;
    border-radius: 16px;
    margin-bottom: 20px;
}

.fil-actu .fil-actu-content img:hover {
    filter: brightness(50%);
}


.fil-actu a {
    margin: 50px 0;
    font-size: 32px;
    text-decoration: none;
    padding: 12px 30px;
    background-color: #FBAA23;
    color: white;
    border-radius: 8px;
    font-family: "Lobster";
}

.fil-actu a:hover {
    background-color: #FFBF54;
    color: white;
}

.fil-actualites {
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.fil-actualites h1 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 50px;
}

.actualites {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 30px;
}

.actualite {
    background: #373737;
    border-radius: 16px;
    padding: 20px;
    transition: transform 0.3s ease;
}

.actualite img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.actualite h2 {
    color: #FBAA23;
    margin: 15px 0;
    font-size: 24px;
}

.actualite p {
    color: #fff;
    margin-bottom: 20px;
    line-height: 1.5;
}

.actualite:hover {
    transform: translateY(-5px);
}

@media screen and (max-width: 768px) {
    .actualites {
        grid-template-columns: 1fr;
    }
    
    .fil-actualites h1 {
        font-size: 36px;
    }
}

.formes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#square {
    width: 400px;
    height: 100px;
    background-color: rgba(224, 131, 2, 0.473);
    border-radius: 50px;
    transform: rotate(-45deg);
}

#square:nth-child(2n) {
    background-color: rgba(251, 172, 35, 0.568);
    transform: translateX(85px) rotate(-45deg);
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
    padding: 0 50px 100px 50px;
    color: #fff;
    background-color: #252525;
    border-radius: 0 0 150px 150px;
}
.footer-content > * {
    flex: 1;
    padding: 0 15px;
}

.footer-content .footer-left h2 {
    font-size: 48px;
    font-weight: 400;
    margin: 0;
}

.footer-content .footer-left h2 p {
    margin-top: 0;
    color: #FBAA23;
}




.footer-left #circle {
    display: none;
}


@media screen and (min-width: 1240px) {
    header nav img {
        display: flex;
    }

    header nav ul {
        margin-top: 60px;
    }

    .footer-left #circle {
        display: block;
    }

    #circle .formes {
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 100%;
        transform: translate(-85%, -85%);
    }

    #circle {
        position: absolute;
        width: 500px;
        transform: translateY(100px) translateX(50px);
    }
    #circle img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -85%);
        z-index: 2;
        width: 400px;
        height: auto;
    }
}
.contact-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    width: 350px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    font-family: "Amaranth", sans-serif;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 8px;
    border: 10px solid #FBAA23;
    background-color: #FFDB9F;
    border-radius: 4px;
    resize: none;
  }
  
  .submit-btn {
    background-color: #FBAA23;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #e69b1f;
  }

.border-round {
    z-index: -1;
    position: absolute;
    transform: translateY(-140px);
    width: 100%;
    background-color: #FBAA23;
    height: 150px;
}

.footer-bottom {
    width: 100%;
    margin-top: auto;
}

.footer-bottom .content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    background-color: #FBAA23;
    color: #252525;
    width: 100%;
}


.footer-bottom .content a {
    color: #252525;
    text-decoration: none;
    font-weight: 700;
}

.footer-bottom .content a:hover {
    color: #252525;
    text-decoration: underline;
}

.footer-bottom .content img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #252525;
    padding: 20px;
}

.footer-bottom .content .contact a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #252525;
    text-decoration: none;
    font-weight: 700;
}

.footer-bottom .content .contact a svg {
    margin-right: 10px;
}

.footer-bottom .content .reseaux a svg{
    width: 30px;
    height: auto;
    color: #FBAA23;
    font-size: 30px;
    margin: 0 10px;
    transition: all 0s ease;
    background-color: #252525;
    padding: 10px;
    border-radius: 50%;
}

.footer-bottom .content .reseaux a svg:hover {
    color: #996100;
}

.back-to-top {
    z-index: 1000;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #373737;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px #FBAA2333;
    transform: translateY(20px);
}

.back-to-top.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.back-to-top a svg {
    color: #FBAA23;
    height: 40px;
    width: 40px;
}

.back-to-top:hover {
    background-color: #252525;
    transform: translateY(-3px);
}

@media screen and (max-width: 768px) {
  
    .hamburger {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1000;
    }

    header nav ul {
        position: fixed;
        right: -100%;
        top: 0;
        flex-direction: column;
        justify-content: start;
        background: #252525;
        height: 100vh;
        padding-top: 80px;
        transition: 0.3s;
        z-index: 999;
        margin: 0;
    }

    header nav ul.active {
        right: 0;
    }

    .hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
    }
  
    .main .titre {
      margin: 100px 0;
      font-size: 36px;
    }
  
    .biere .info-biere {
      padding: 20px;
      flex-direction: column;
      text-align: center;
    }
  
    .biere .info-biere img {
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    .apropos .apropos-content {
      flex-direction: column;
    }
  
    .apropos .informations {
      margin: 30px 0;
      width: 90%;
    }

    .fil-actu {
        padding: 100px 0 0 0;
    }
  
    .fil-actu .fil-actu-content {
      width: auto;
    }
  
    .fil-actu .fil-actu-content img {
      width: 100%;
    }

    footer #square {
        display: none;
    }

    .footer-content {
      flex-direction: column;
      padding: 20px;
      gap: 30px;
    }

    .footer-content .footer-left  {
        text-align: center;
    }
  
    #circle {
      position: relative;
      transform: none;
      width: 100%;
    }
  
    .contact-form {
      width: 90%;
    }

    .formulaire {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .formulaire form div input, textarea {
        transform: translateX(-20px);
    }

    .footer-bottom content {
        font-size: 12px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .main .titre {
      font-size: 28px;
    }
  
    .biere h2 {
      font-size: 42px;
    }
  
    .biere .info-biere img {
      width: 200px;
      height: 200px;
    }
  
    .apropos .vignette img {
      width: 100%;
      height: auto;
    }

    footer #square {
        display: none;
    }
  
    .footer-bottom .content {
      flex-direction: column;
      height: auto;
      padding: 20px 0;
      gap: 20px;
    }
  
    .footer-bottom .content .reseaux {
      display: flex;
      gap: 10px;
    }
  
    #square {
      width: 90%;
    }
  }